@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
<!DOCTYPE html>
<html>
<head>
    <title> >Menu</title>


</head>
<body class="body-content" style="background-color: antiquewhite">
    <div class="title">Menu</div>
    <form method="post">

        <div>
            <input id="searchs" type="text" name="search" value="@Model.search" />
            <input type="submit" value="Search" />
            <input type="submit" name="filter" id="filter" value="Apply Filter(s)" />
        </div>
        <div>
            <label>
                <input type="checkbox" class="menu-Category" name="menuCategory" value="Combo" checked="@Model.menuCategory.Contains("Combo")" />
                Combos
            </label>
            <label>
                <input type="checkbox" class="menu-Category" name="menuCategory" value="Entree" checked="@Model.menuCategory.Contains("Entree")" />
                Entree
            </label>
            <label>
                <input type="checkbox" class="menu-Category" name="menuCategory" value="Side" checked="@Model.menuCategory.Contains("Side")" />
                Side
            </label>
            <label>
                <input type="checkbox" class="menu-Category" name="menuCategory" value="Drink" checked="@Model.menuCategory.Contains("Drink")" />
                Drink
            </label>
        </div>
        <div>
            <label>
                Minimum Price
                <input type="number" id="minimum-price" min="0" max="20" name="minimumPrice" value="@Model.minimumPrice" />
            </label>
            <label>
                Maximum Price
                <input type="number" id="max-price" min="0" max="20" name="maxPrice" value="@Model.maxPrice" />
            </label>
        </div>
        <div class="box">
            <h4>Excude Ingredients</h4>
            @foreach (string s in Model.Posibleingredints)
            {
                <label>
                    @s
                    <input class="Posibleingredints" type="checkbox" name="Ingredients" value="@s" />
                </label>
            }
        </div>
    </form>

    <div class="column">
        <h2 class="type">Combos</h2>

        @for (int i = 0; i < Model.Combo.Count(); i++)
        {
            @if (i % 2 == 0)
            {
                <div class="menu-itemA">
                    <div class="Item">
                        @Model.Combo.ElementAt(i)
                    </div>
                    <div class="info">
                        <table>

                            <tr>
                                <th>Size</th>
                                <th>Small</th>
                                <th>Medium</th>
                                <th>Large</th>
                            </tr>
                            
                            <tr>
                                <th>Price</th>
                                @(Model.Combo.ElementAt(i).Size = DinoDiner.Menu.Size.Small)
                                <th>@Model.Combo.ElementAt(i).Price</th>
                                @(Model.Combo.ElementAt(i).Size = DinoDiner.Menu.Size.Medium)
                                <th>@Model.Combo.ElementAt(i).Price</th>
                                @(Model.Combo.ElementAt(i).Size = DinoDiner.Menu.Size.Large)
                                <th>@Model.Combo.ElementAt(i).Price</th>
                            </tr>
                            <tr>
                                <th>Calories</th>
                                @(Model.Combo.ElementAt(i).Size = DinoDiner.Menu.Size.Small)
                                <th>@Model.Combo.ElementAt(i).Calories</th>
                                @(Model.Combo.ElementAt(i).Size = DinoDiner.Menu.Size.Medium)
                                <th>@Model.Combo.ElementAt(i).Calories</th>
                                @(Model.Combo.ElementAt(i).Size = DinoDiner.Menu.Size.Large)
                                <th>@Model.Combo.ElementAt(i).Calories</th>
                            </tr>

                         

                        </table>
                        <p>
                            <b>Ingredients</b>
                            @for (int x = 0; x < @Model.Combo.ElementAt(i).Ingredients.Count; x++)
                            {
                                <br />@Model.Combo.ElementAt(i).Ingredients[x]
                            }
                        </p>


                    </div>

                </div>
            }
            @if (i % 2 == 1)
            {
                <div class="menu-itemB">
                    <div class="Item">
                        @Model.Combo.ElementAt(i)
                    </div>
                    <div class="info">
                        <table>

                            <tr>
                                <th>Size</th>
                                <th>Small</th>
                                <th>Medium</th>
                                <th>Large</th>
                            </tr>

                            <tr>
                                <th>Price</th>
                                @(Model.Combo.ElementAt(i).Size = DinoDiner.Menu.Size.Small)
                                <th>@Model.Combo.ElementAt(i).Price</th>
                                @(Model.Combo.ElementAt(i).Size = DinoDiner.Menu.Size.Medium)
                                <th>@Model.Combo.ElementAt(i).Price</th>
                                @(Model.Combo.ElementAt(i).Size = DinoDiner.Menu.Size.Large)
                                <th>@Model.Combo.ElementAt(i).Price</th>
                            </tr>
                            <tr>
                                <th>Calories</th>
                                @(Model.Combo.ElementAt(i).Size = DinoDiner.Menu.Size.Small)
                                <th>@Model.Combo.ElementAt(i).Calories</th>
                                @(Model.Combo.ElementAt(i).Size = DinoDiner.Menu.Size.Medium)
                                <th>@Model.Combo.ElementAt(i).Calories</th>
                                @(Model.Combo.ElementAt(i).Size = DinoDiner.Menu.Size.Large)
                                <th>@Model.Combo.ElementAt(i).Calories</th>
                            </tr>



                        </table>
                        <p>
                            <b>Ingredients</b>
                            @for (int x = 0; x < @Model.Combo.ElementAt(i).Ingredients.Count; x++)
                            {
                                <br />@Model.Combo.ElementAt(i).Ingredients[x]
                            }
                        </p>


                    </div>

                </div>
            }
        }
    </div>
    <div class="column">
        <h2 class="type">Entrees</h2>
        @for (int i = 0; i < Model.Entree.Count(); i++)
        {
            @if (i % 2 == 0)
            {
                <div class="menu-itemB">
                    <div class="Item">
                        @Model.Entree.ElementAt(i)
                    </div>
                    <div class="info">
                        <p>
                            Price: $@Model.Entree.ElementAt(i).Price<br />
                            Calories: @Model.Entree.ElementAt(i).Calories

                        </p>
                        <p>
                            <b>Ingredients</b>
                            @for (int x = 0; x < @Model.Entree.ElementAt(i).Ingredients.Count; x++)
                            {
                                <br />@Model.Entree.ElementAt(i).Ingredients[x]
                            }
                        </p>


                    </div>

                </div>
            }
            @if (i % 2 == 1)
            {
                <div class="menu-itemA">
                    <div class="Item">
                        @Model.Entree.ElementAt(i)
                    </div>
                    <div class="info">
                        <p>
                            Price: $@Model.Entree.ElementAt(i).Price<br />
                            Calories: @Model.Entree.ElementAt(i).Calories

                        </p>
                        <p>
                            <b>Ingredients</b>
                            @for (int x = 0; x < @Model.Entree.ElementAt(i).Ingredients.Count; x++)
                            {
                                <br />@Model.Entree.ElementAt(i).Ingredients[x]
                            }
                        </p>


                    </div>

                </div>
            }
        }
    </div>
    <div class="column">
        <h2 class="type">Drinks</h2>

        @for (int i = 0; i < Model.Drink.Count(); i++)
        {
            @if (i % 2 == 0)
            {
                <div class="menu-itemB">
                    <div class="Item">
                        @Model.Drink.ElementAt(i)
                    </div>
                    <div class="info">
                        <table>

                            <tr>
                                <th>Size</th>
                                <th>Small</th>
                                <th>Medium</th>
                                <th>Large</th>
                            </tr>

                            <tr>
                                <th>Price</th>
                                @(Model.Drink.ElementAt(i).Size = DinoDiner.Menu.Size.Small)
                                <th>@Model.Drink.ElementAt(i).Price</th>
                                @(Model.Drink.ElementAt(i).Size = DinoDiner.Menu.Size.Medium)
                                <th>@Model.Drink.ElementAt(i).Price</th>
                                @(Model.Drink.ElementAt(i).Size = DinoDiner.Menu.Size.Large)
                                <th>@Model.Drink.ElementAt(i).Price</th>
                            </tr>
                            <tr>
                                <th>Calories</th>
                                @(Model.Drink.ElementAt(i).Size = DinoDiner.Menu.Size.Small)
                                <th>@Model.Drink.ElementAt(i).Calories</th>
                                @(Model.Drink.ElementAt(i).Size = DinoDiner.Menu.Size.Medium)
                                <th>@Model.Drink.ElementAt(i).Calories</th>
                                @(Model.Drink.ElementAt(i).Size = DinoDiner.Menu.Size.Large)
                                <th>@Model.Drink.ElementAt(i).Calories</th>
                            </tr>



                        </table>

                        <p>
                            <b>Ingredients</b>

                            @for (int x = 0; x < @Model.Drink.ElementAt(i).Ingredients.Count; x++)
                            {
                                <br />@Model.Drink.ElementAt(i).Ingredients[x]
                            }
                        </p>


                    </div>


                </div>
            }
            @if (i % 2 == 1)
            {
                <div class="menu-itemA">
                    <div class="Item">
                        @Model.Drink.ElementAt(i)
                    </div>
                    <div class="info">
                        <table>

                            <tr>
                                <th>Size</th>
                                <th>Small</th>
                                <th>Medium</th>
                                <th>Large</th>
                            </tr>

                            <tr>
                                <th>Price</th>
                                @(Model.Drink.ElementAt(i).Size = DinoDiner.Menu.Size.Small)
                                <th>@Model.Drink.ElementAt(i).Price</th>
                                @(Model.Drink.ElementAt(i).Size = DinoDiner.Menu.Size.Medium)
                                <th>@Model.Drink.ElementAt(i).Price</th>
                                @(Model.Drink.ElementAt(i).Size = DinoDiner.Menu.Size.Large)
                                <th>@Model.Drink.ElementAt(i).Price</th>
                            </tr>
                            <tr>
                                <th>Calories</th>
                                @(Model.Drink.ElementAt(i).Size = DinoDiner.Menu.Size.Small)
                                <th>@Model.Drink.ElementAt(i).Calories</th>
                                @(Model.Drink.ElementAt(i).Size = DinoDiner.Menu.Size.Medium)
                                <th>@Model.Drink.ElementAt(i).Calories</th>
                                @(Model.Drink.ElementAt(i).Size = DinoDiner.Menu.Size.Large)
                                <th>@Model.Drink.ElementAt(i).Calories</th>
                            </tr>



                        </table>

                        <p>
                            <b>Ingredients</b>

                            @for (int x = 0; x < @Model.Drink.ElementAt(i).Ingredients.Count; x++)
                            {
                                <br />@Model.Drink.ElementAt(i).Ingredients[x]
                            }
                        </p>


                    </div>


                </div>

            }

        }
    </div>
    <div class="column">
        <h2 class="type">Sides</h2>
        @for (int i = 0; i < Model.Side.Count(); i++)
        {
            @if (i % 2 == 1)
            {
                <div class="menu-itemA">
                    <div class="Item">
                        @Model.Side.ElementAt(i)
                    </div>
                    <div class="info">
                        <table>

                            <tr>
                                <th>Size</th>
                                <th>Small</th>
                                <th>Medium</th>
                                <th>Large</th>
                            </tr>

                            <tr>
                                <th>Price</th>
                                @(Model.Side.ElementAt(i).Size = DinoDiner.Menu.Size.Small)
                                <th>@Model.Side.ElementAt(i).Price</th>
                                @(Model.Side.ElementAt(i).Size = DinoDiner.Menu.Size.Medium)
                                <th>@Model.Side.ElementAt(i).Price</th>
                                @(Model.Side.ElementAt(i).Size = DinoDiner.Menu.Size.Large)
                                <th>@Model.Side.ElementAt(i).Price</th>
                            </tr>
                            <tr>
                                <th>Calories</th>
                                @(Model.Side.ElementAt(i).Size = DinoDiner.Menu.Size.Small)
                                <th>@Model.Side.ElementAt(i).Calories</th>
                                @(Model.Side.ElementAt(i).Size = DinoDiner.Menu.Size.Medium)
                                <th>@Model.Side.ElementAt(i).Calories</th>
                                @(Model.Side.ElementAt(i).Size = DinoDiner.Menu.Size.Large)
                                <th>@Model.Side.ElementAt(i).Calories</th>
                            </tr>



                        </table>
                        <p>
                            <b>Ingredients</b>
                            @for (int x = 0; x < @Model.Side.ElementAt(i).Ingredients.Count; x++)
                            {
                                <br />@Model.Side.ElementAt(i).Ingredients[x]
                            }
                        </p>


                    </div>


                </div>
            }
            @if (i % 2 == 1)
            {
                <div class="menu-itemB">
                    <div class="Item">
                        @Model.Side.ElementAt(i)
                    </div>
                    <div class="info">
                        <p>
                            Price: $ @Model.Side.ElementAt(i).Price<br />
                            Calories: @Model.Side.ElementAt(i).Calories

                        </p>
                        <p>
                            <b>Ingredients</b>
                            @for (int x = 0; x < @Model.Side.ElementAt(i).Ingredients.Count; x++)
                            {
                                <br />@Model.Side.ElementAt(i).Ingredients[x]
                            }
                        </p>


                    </div>



                </div>
            }
        }
</body>
</html>
